**Q1.Discuss string slicing and provide examples.**

**Sol.**Extracting some part of a string is called string slicing.String slicing allows us to extract parts of a string using a specified range of indices.

*Syntax*

```
var[start:stop:step]
```
where,

*start:* The starting index of the slice (inclusive).

*stop:* The ending index of the slice (exclusive).

*step:* The step size or stride between indices.

In [ ]:
#String slicing with positive index.
var="This is example of string slicing"
print("var[0:6] :",var[0:6])       #prints characters from strating till character of 5th index
print("var[6:]",var[6:])           #prints characters from 6th index till end of string
print("var[:6]",var[:6])           #prints characters from strating till character of 5th index
print("var[:]",var[:])             #prints whole string
print("var[5:22:2]",var[5:22:2])   #by default step size is 1 unit, but here its changed to 2

var[0:6] : This i
var[6:] s example of string slicing
var[:6] This i
var[:] This is example of string slicing
var[5:22:2] i xml fsr

In [ ]:
#String slicing via negative indexing
var="This is example of string slicing"
print("var[-8:-1]:",var[-8:-1])       #incase of negative indices ending index is included
print("var[-8:]:",var[-8:])
print("var[:-11]:",var[:-11])
print("var[:-11:4]:",var[:-11:4])

var[-11:-1]:  slicin
var[-11:]:  slicing
var[:-11]: This is example of str
var[:-11:4]: T epot

In [ ]:
#Reversing a string via negative index
var="This is example of string slicing"
print(var[::-1])

gnicils gnirts fo elpmaxe si sihT

**Q2.Explain the key features of lists in Python.**

**Sol** Lists are type of data structure that can store different datatypes in one place.It is represented by square brackets.
*Syntax:*

```
# list_var=[]
```
The features of list are:

*1.Stores heterogeneous data:* List can store different data types, such as integers, floats,  strings, other list, complex numbers etc.eg:

In [ ]:
list_var=[2, 3.8, "String", ["a","b",4,], 4+5j]
print(type(list_var))
print(list_var)

<class 'list'>
[2, 3.8, 'String', ['a', 'b', 4], (4+5j)]

*2.Mutable:* The elements in the list can be changed after they are stored in the list.eg:

In [ ]:
#Exapmle for lists are mutable

lst=[2, 3.8, "String", ["a","b",4,], 4+5j]
lst[1]=586                          #change the element at index 1 to new value
print(lst)

[2, 586, 'String', ['a', 'b', 4], (4+5j)]

*3.Ordered:* Each element in list is assigned a index when they are added. The indexing starts from 0.

In [ ]:
#Prog to see the index of each element

lst=[5+6j,8,3.5,"Hello"]
print(lst.index(5+6j),lst.index("Hello"))

0 3

*4.Dynamic Size:* Lists can grow or shrink in size as needed. We donâ€™t need to specify the size while creating a list.

In [ ]:
#Dynamic size of a List
lst=[5+6j,8,3.5,"Hello"]
print("Old list:",lst)
print("Old lenth of list:",len(lst))

print()

lst.insert(2,"New Element")
lst.append(["new element_2","new element_3"])
print("New list:",lst)
print("New lenth of list:",len(lst))

Old list: [(5+6j), 8, 3.5, 'Hello']
Old lenth of list: 4

New list: [(5+6j), 8, 'New Element', 3.5, 'Hello', ['new element_2', 'new element_3']]
New lenth of list: 6

*5.Dynamic Typing:* Lists can contain items of different types, and the type of an individual item can be changed.

In [ ]:
#Lists dynamic typing

lst=[2,5,7,8,9]
print("Old List:",lst)
print(type(lst[1]))       #which is integer

lst[1]=5+6j
print()
print("New list:",lst)
print(type(lst[1]))       #element of diff data type inserted thus lists supports dynamic typiing

Old List: [2, 5, 7, 8, 9]
<class 'int'>

New list: [2, (5+6j), 7, 8, 9]
<class 'complex'>

*6.Nested Lists:* Lists can contain other lists as elements allowing to create complex data structures like multi-dimensional arrays.

In [ ]:
#Nested lists

lst=[[5,6,7],[3,7,5],[9,1.1,10]]
print("Nested list:",lst)

print("Excessing '1.1':",lst[2][1])

Nested list: [[5, 6, 7], [3, 7, 5], [9, 1.1, 10]]
Excessing '1.1': 1.1

*7.Slicing:* Lists allow user to access some part of the data stored, this is called slicing of list.

Syntax:


```
list_var=[start:stop:step]

start: index of where to start slicing(inclusive)
stop: index of where to stop slicing(exclusive)
step: how steps to jump in between indexes (exclusive 3 means jump 2 steps)
```

In [ ]:
lst=["string_1",25,"string_2",99,"string_3",20,5,887,98,100,3,15]

print(lst[3:9:3])
print(lst[3::3])

[99, 5]
[99, 5, 100]

**Q3.Describe how to access, modify, and delete elements in a list with examples.**

**Sol.** Lists are mutable thus elements can be accessed, modified and deleted as per users will.

1. For **accessing** elements **index** of the elements are used.Index of the elements can also be negative.For example

In [ ]:
#Accessing elements in list

lst=[0, 5, 3, 7, 9, 3.6, 8.4]

positive_index=lst[1]
negative_index=lst[-1]
slicing_list=lst[2:6]

print("Accessing elements using positive index:",positive_index)
print("Accessing elements using negative index:",negative_index)
print("Accessing elements using Slicing of list:",slicing_list)

Accessing elements using positive index: 5
Accessing elements using negative index: 8.4
Accessing elements using Slicing of list: [3, 7, 9, 3.6]

2.For **modification** in the list functions like **insert()**, **append()** and **extend()** are used.

*2.1 insert()* function is used to insert the element at the specified index.

*2.2 append()* and *extend()* are used to insert the elements at the end of the list.Extend function helps to insert multiple elements at a time. For example

In [ ]:
#Modifying elements in the list using insert function

lst=[0, 5, 3, 7, 9, 3.6, 8.4]
print("Old_list:",lst)
i=int(input("Enter index to insert new element:"))
ele=input("Enter element:")
lst.insert(i,ele)
print(f"element inserted at index {i}")
print("New list:",lst)

Old_list: [0, 5, 3, 7, 9, 3.6, 8.4]

Enter index to insert new element:3
Enter element:Hello

element inserted at index 3
New list: [0, 5, 3, 'Hello', 7, 9, 3.6, 8.4]

In [ ]:
#Modifying elements in the list using append function

lst=[0, 5, 3, 7, 9, 3.6, 8.4]

print("Old_list:",lst)

ele=input("Enter element:")

lst.append(ele)

print("New list:",lst)

Old_list: [0, 5, 3, 7, 9, 3.6, 8.4]
Enter element:hello
New list: [0, 5, 3, 7, 9, 3.6, 8.4, 'hello']

In [ ]:
#Modifying elements in the list using extend function

lst=[0, 5, 3, 7, 9, 3.6, 8.4]

print("Old_list:",lst)

lst.extend(['element_1','element_2','element_3'])

print("New list:",lst)

Old_list: [0, 5, 3, 7, 9, 3.6, 8.4]
New list: [0, 5, 3, 7, 9, 3.6, 8.4, 'element_1', 'element_2', 'element_3']

3.For **Deletion** in the list functions like **remove()**, **pop()**,**del()** and **clear()** are used.

*3.1 remove()* function is used to remove the first occurance of the element in the list.

*3.2 pop()* function is used to remove the element at a specified index. If no index is given it will remove the last element.

*3.3 del()* function is used to remove the element at a specified index. If we give the list name it will erase the list from the memory.

*3.4 clear()* function is used to remove all elements from the list.This makes the list empty.

In [ ]:
#Deletion of elements using remove function

lst=[25,28,"remove","pop", 55, "Hi"]
print("old list:",lst)

lst.remove("remove")          #removes the value 'remove'
print("new list:",lst)

old list: [25, 28, 'remove', 'pop', 55, 'Hi']
new list: [25, 28, 'pop', 55, 'Hi']

In [ ]:
#Deletion of elements using pop function

lst=[25,28,"remove","pop", 55, "Hi"]
print("old list:",lst)

lst.pop(3)          #removes the value at index 3
lst.pop()           #removes the value at the last of list

print("new list:",lst)

old list: [25, 28, 'remove', 'pop', 55, 'Hi']
new list: [25, 28, 'remove', 55]

In [ ]:
#Deletion of elements using del function

lst=[25,28,"remove","pop", 55, "Hi"]
lst_2=[5, 3, 12 ,50]

print("old list:",lst)

del lst[2]          #removes the value at index 2 in the list
print("new list:",lst)

del lst_2             # will delete whole list and on printing lst_2 it will give error
#print(lst_2)

old list: [25, 28, 'remove', 'pop', 55, 'Hi']
new list: [25, 28, 'pop', 55, 'Hi']

**Q4 Compare and contrast tuples and lists with examples**

**Sol.**
1. **Lists** are mutable means elements in lists can be changed.

 **tuples** are immutable ie cannot be changed.

In [ ]:
_list=[1,2,3,4,5,6]
_tuple=(11,12,13,14,15,16)

_list[2]=100         # changing value of list at index 2
print(_list)

_tuple[2]=20         #trying to change value of tuple at index 2
print(_tuple)        #will give ERROR

[1, 2, 100, 4, 5, 6]

TypeError: 'tuple' object does not support item assignment

2. **Lists** are slow because it supports dynamic resizing.
    
  **Tuples** are generally faster then list due to fixed sizing.

3. **Lists** The lists are allocated in two blocks, thus they consume more memory.
    
    **Tuples** consume less memory as they are stored in a single memory block.

In [ ]:
import sys, platform
list_1=["Hi","this","is","code"]
tuple_1=("Hi","this","is","code")
print("memory size of list:",sys.getsizeof(list_1))
print("memory size of tuple:",sys.getsizeof(tuple_1))

memory size of list: 88
memory size of tuple: 72

4. **Lists** are suitable for scenarios where you need a flexible, mutable collection of items.
   
   **Tuples** are suitable for fixed, immutable collections where performance and data integrity are important
5.**Lists** The implication of iterations is time-consuming.

  **Tuples** The implication of iterations is comparatively Faster

In [ ]:
#iteration time
import sys, platform
import time

l=list(range(1000001))
t=tuple(range(1000001))

start = time.time_ns()
for i in range(len(t)):
    a = t[i]
end = time.time_ns()
print("Total lookup time for Tuple: ", end - start)

start = time.time_ns()
for i in range(len(l)):
    a = l[i]
end = time.time_ns()
print("Total lookup time for LIST:  ", end - start)

Total lookup time for Tuple:  101785613
Total lookup time for LIST:   119808817

6. Since **lists** are mutable thus there are more functions like append(), extend(), remove(), pop(), sort(), count(), index().

    **Tuples** have fewer methods compared to lists. They include count() and index(), but they lack methods for modifying their contents.

In [ ]:
list1=[1,2,3,4,4,4,4,4]
tuples1=(50,60,70,80,60,60,60)

list1.append(7)
#tuples1.append(100)                         #tuples do not support append() as they are immutable

list1.extend([6,8,9])
#tuples1.extend(100)                           # tuples do not support extend() as they are again immutable

list1.remove(2)
#tuples1.remove(50)                           # tuples do not support remove() as they are immutable

list1.pop()
#tuples1.pop()                               # tuples do not support remove() as they are immutable

list1.sort()
#tuples1.sort()                               # tuples do not support sort()

print("List count of 4:",list1.count(4))
print("Tuple count of 60:",tuples1.count(60))

print("List index of 3:",list1.index(3))
print("Tuple index of 70:",tuples1.index(70))

List count of 4: 5
Tuple count of 60: 4
List index of 3: 1
Tuple index of 70: 2

**Q5.Describe the key features of sets and provide examples of their use**

**Sol.**A Set is an unordered collection data type that is **iterable**, **mutable**(we can add new elements and perform operations but cannot change elements in the set) and has **no duplicate** elements.
*Syntax*

```
# set_var={}
```


the key features of set are as follows:

1. **No duplicates:** All the elements stored in the set are unique.If an element is repeating more then once, set will compress it to only once.eg

In [ ]:
#Set elements are unique

set1={1,1,1,5,3,69,69}
print(set1)

{1, 5, 3, 69}

2. **Unordered:** The elemets inside set do not have an order unlike lists and tuples. Sets do not support indexing, slicing, or other sequence-like behavior.

In [ ]:
set1={5,6,2,7}
print(set1)

print(set1.index(6))     #will give error

{2, 5, 6, 7}

AttributeError: 'set' object has no attribute 'index'

3. **Heterogeneous:** Python sets can store heterogeneous elements in it.

In [ ]:
set1={11,"String",5.3}
print(set1)

{11, 5.3, 'String'}

4. New elements can be added or removed but they cannot be changed once added in set.We can perform mathametical operations like union, intersection, difference, and symmetric difference.

In [ ]:
#Sets elements cannot be changed
set1={1,6,7}
set1[0]=100             #error as elements cannot be changed

TypeError: 'set' object does not support item assignment

In [5]:
#Sets operations
set1={12,6,8,3,25,65}
set2={"asd","qwe","zxc","lol","Axn"}

set1.add(5)         #20 will be added to the set at any random position
print("Element added:",set1)

set1.remove(12)         #12 will be removed from the set, if 12 not present in set then it will throw error
print("Element removed:",set1)

set1.discard(12)            #if the element is not present in the set, "discard" will not throw any error unlike remove
print("Element discarded:",set1)

set1.update("Updated")       #update is a iterable.
print("Update element in set:",set1)

set1.update(["Updated"])
print("Update element in set as a list:",set1)

set1.update([1000])          #without list it will throw an error
print("Update element in set as a list:",set1)

set2.discard("zxc")         #will remove elemet from  the set
print("Element discarded:",set2)

set2.pop()                 #any random value will be removed
print("element poped: ",set2)

set1.clear()
print("Set1 cleared:",set1)     #set will become empty

x=set2.copy()
print("set copied: ",x)

set1={12,6,8,3,25,65,"asd","qwe"}
set2={"asd","qwe","zxc","lol","Axn",8,3}

print("Union of set1 and set2:",set1.union(set2))                      # set1 U set2  ,same as set1 | set2, repeting elemets will only come once

print("intersection of set1 and set2:",set1.intersection(set2))        # set1 intersection set2 , same as set1 & set2

print("set1 - set2 :",set1-set2)                                       # same as sets concept in maths common element of set1 and set2 sub from set1.


print("Symmetric difference: ",set1^set2)                             # removes common element from both set and print the rest

Element added: {65, 3, 5, 6, 8, 25, 12}
Element removed: {65, 3, 5, 6, 8, 25}
Update element in set: {65, 3, 'd', 5, 6, 8, 'a', 25, 'e', 'p', 't', 'U'}
Update element in set as a list: {65, 3, 'd', 5, 6, 8, 'a', 25, 'e', 'p', 't', 'Updated', 'U'}
Update element in set as a list: {65, 3, 'd', 5, 6, 8, 'a', 25, 'e', 'p', 't', 1000, 'Updated', 'U'}
Element discarded: {'lol', 'asd', 'qwe', 'Axn'}
element poped:  {'asd', 'qwe', 'Axn'}
Set1 cleared: set()
set copied:  {'Axn', 'asd', 'qwe'}
Union of set1 and set2: {65, 3, 'asd', 6, 'qwe', 8, 'Axn', 12, 'zxc', 'lol', 25}
intersection of set1 and set2: {8, 3, 'asd', 'qwe'}
set1 - set2 : {65, 12, 6, 25}
Symmetric difference:  {65, 6, 'Axn', 12, 'zxc', 'lol', 25}

5. **Frozen set:** We can create a immutable version of set which when once created set cannot be changed.

In [ ]:
# frozen set
var=frozenset([5,2,14])
print(var)
var.add(34)                   # will give error as its a immutable version of set

frozenset({2, 5, 14})

AttributeError: 'frozenset' object has no attribute 'add'

**Q6.Discuss the use cases of tuples and sets in Python programming**

**Sol.**Tuples and sets in Python are versatile data structures, each with unique characteristics that make them suitable for specific use cases.

**Use Cases for Tuples**
1. **Immutable Data Structures:** When you need a collection of items that should not change throughout the lifetime.eg: Aadhar card number, pan card number, Parents name of a person, date of birth of a person.

```
tuple1=("Aadhar card number", "Pan card number", "Date of birth")
```

2. **Dictionary Keys:** Using tuples as keys in dictionaries when you need to use compound key.**eg:** Storing values associated with coordinate pairs.


```
locations = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles"
}

```
3. **Records and Data Structuring:** Storing fixed collections of related items, similar to records or rows in a database.**eg.** Representing a student record.

```
student = ("Aman", "Sharma", 17, "Science")
```


4. **Enumerating with Index:** Using tuples to handle both the index and value when iterating over a sequence.**eg:** Enumerating over a list to get both index and value.

```
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

```

5. **Indexing in Complex Data Structures:** When using tuples as elements in more complex data structures like lists or sets, ensuring each tuple is an immutable and hashable element.**eg.** Using tuples in a set to represent unique 2D points.

```
points = {(1, 2), (3, 4), (5, 6)}

```

**Use cases of Sets**

Sets in Python are particularly useful for scenarios where you need to manage unique collections of items and perform mathematical set operations efficiently.

1. **Removing Duplicates:** Eliminating duplicate values from a list or other iterable to ensure all items are unique.**eg.** Shoping list, we do not want to repeat an item

```
shoping_list={"Bread", "Eggs", "Spices", "Oil", "Coffee"}
```

2. **Fast Lookup:** Sets are fast while executing so can be used to quickly manage and look up large collections.

```
large_set = set(range(1000000))  # A large set of numbers
if 500000 in large_set:
    print("500000 is in the set.")

```
3. **Common Elements:** Sets are similar to hashing so finding elements common to multiple sets is fast.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5, 6}
set3 = {3, 4, 7, 8}
common_elements = set1 & set2 & set3
print(common_elements)

{3}

4. **Set Operations:** Perform mathematical set operations like union, intersection, and difference.Thus it makes it easy to find common element, uncommon element in the set fast.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5, 6}
set3 = {3, 4, 7, 8}

print("Union:", set1|set2|set3)
print("Intersection:", set1.intersection(set2,set3))
print("Difference:", set1-set2-set3)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {3}
Difference: {1}

**Q7.Describe how to add, modify, and delete items in a dictionary with examples**

**Sol.**Dictionaries in Python are mutable data structures that store key-value pairs.

*Syntax*

```
# dict_var={"Key1":"Value1","Key2":"Value2","Key3":"Value3"}
```

We can add, modify, and delete items in a dictionary using various methods and techniques.

**Add elements in dictionaries**
1. **update() function:**

In [ ]:
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("old:",dict1)
dict1.update({"color": "yellow"})
print("Updated:",dict1)

old: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Updated: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'yellow'}

**To modify**

To modify an item in a dictionary, we update the value associated with an existing key. This is done using the same syntax as for adding items.

In [ ]:
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1968}
print("Old : ",dict1)

dict1["year"]= 1964
print("Updated:", dict1)

Old :  {'brand': 'Ford', 'model': 'Mustang', 'year': 1968}
Updated: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**To delete**

You can delete items from a dictionary using several methods:
1. Using **del statement**: It removes the item with the specified key name.
2. Using **pop() method**: It removes the item with the specified key name:.
3. Using **popitem() method**: Removes the last inserted pair.
4. Using **clear() method**: Removes all items from the dictionary.

In [ ]:
#Using del statement:
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1968}
print("Old : ",dict1)

del dict1["model"]                        #deletes key and value of specified key
print("Updated:", dict1)

Old :  {'brand': 'Ford', 'model': 'Mustang', 'year': 1968}
Updated: {'brand': 'Ford', 'year': 1968}

In [ ]:
#Using pop function
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1968}
print("Old : ",dict1)

dict1.pop("brand")                                #deletes key and value of specified key
print("Updated:", dict1)

Old :  {'brand': 'Ford', 'model': 'Mustang', 'year': 1968}
Updated: {'model': 'Mustang', 'year': 1968}

In [ ]:
#using popitem function.
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1968}
print("Old : ",dict1)

dict1.popitem()                    #removes last key-value pair
print("Updated:", dict1)

Old :  {'brand': 'Ford', 'model': 'Mustang', 'year': 1968}
Updated: {'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#Using clear function

dict1 = {"brand": "Ford", "model": "Mustang", "year": 1968}
print("Old : ",dict1)

dict1.clear()               #removes all elements
print(dict1)

Old :  {'brand': 'Ford', 'model': 'Mustang', 'year': 1968}
{}

**Q8. Discuss the importance of dictionary keys being immutable and provide examples**
**Sol.** A key determines where it is stored in memory. If a key is mutable and could be changed, its hash value might change as well. This would lead to inconsistencies and potential errors when trying to access or modify the dictionary.

The datatypes that can be used to represent keys are:

1. *String*
2. *Integer or float or complex numbers*
2. *tuple*
3. *frozen set*

They are used because of their **immutability** property.

If a mutable data type or data structure is used to represent key then Python will give error.

In [21]:
#Example of valid keys => String

dict_1= {"Company": "Ford","Model": "Mustang", "Engine": "4951 cc", "Power and Torque":"396 bhp & 515 Nm","DriveTrain":"RWD","Price":8000000 }
print("String Key:",dict_1["Company"])

String Key: Ford

In [22]:
#Example of valid keys => Numbers

dict_2= {1: "Ford",2: "Mustang", 3.5: "4951 cc", 4+5j :"396 bhp & 515 Nm", 5:"RWD", 6:8000000 }
print("Integer key:",dict_2[1])                                  #integer as key
print("Float key:",dict_2[3.5])                                  #float as key
print("Complex number key:",dict_2[4+5j])                        #complex number as key

Integer key: Ford
Float key: 4951 cc
Complex number key: 396 bhp & 515 Nm

In [23]:
#Example of valid keys => Tuples

dict_3= {(1,"Company"): "Ford",(2,"Model"): "Mustang", (3,"Engine"): "4951 cc", (4,"Power and Torque"):"396 bhp & 515 Nm"}
print(dict_3[(3,"Engine")])

4951 cc

In [26]:
#Example of valid keys => Frozenset

dict_4= { frozenset([1,"Company"]): "Ford",frozenset([2,"Model"]): "Mustang", "Engine": "4951 cc", "Power and Torque":"396 bhp & 515 Nm"}

print(dict_4[frozenset([1,"Company"])])

Ford

As discussed earlier, mutable data types and data structures **cannot** be keys.
Some examples of mutable data structures are:
1. *List*
2. *Set*
3. *Dictionary*

In [30]:
#Example of invalid keys => List

my_dict = {[1, 2]: "Error_1"}                        # This will raise a Error

TypeError: unhashable type: 'list'

In [29]:
#Example of invalid keys => Set

my_dict = {{1, 2}: "Error_2"}             # This will raise a Error

TypeError: unhashable type: 'set'

In [31]:
#Example of invalid keys => other dictionary

my_dict2={{1: "a", 2: "b"}: "Error"}               #Again error

TypeError: unhashable type: 'dict'